{% extends "base.html" %}
{% load static %}

{% block description %}{{product.description}}{% endblock %}
{% block robots %}index, follow{% endblock %}
{% block keywords %}signup, myshop{% endblock %}
{% block css %}{% static "products/section.css" %}{% endblock %}
{% block title %}{{product.title}}{% endblock %}

{% block body %}
    
    {% include "includes/nav.html" %}
    <div id="product_main_div">
        <main style="padding:40px 200px ;  display:flex;">
            <div style=" display: flex; align-self:center;">
            <img src="{{product.image.url}}" style="border-radius: 10px;"> 
            </div> 
            
            <div style="width:40vw;background-color:lightgray; border-radius:10px;padding:10px; margin:auto;">
                <p>{{product.title}}</p>
                <p>{{product.description}}</p>
                <p>{{product.brand.title}}</p>
                <h2>{{product.price}}</h2>
                <p>{{product.}}</p>
                <button>Add to Cart</button>
            </div>
               
        </main>
        <section style="margin:40px 200px; padding:15px 15px; background-color:lightgray; border-radius:10px;">
            <h3 style="font-weight:bold; margin:0px;">write your reviews</h3>
            <form action="" method="POST">
                {% csrf_token %}
                {% if success_message %}
                <div class="alert alert-success" style="color:green;">
                    {{ success_message }}
                </div>
                {% endif %}
                {% for field in form %}
                {{field.label_tag}}
                {{field}}
                {% if field.help_text %}
                {{field.help_text}}
                {% endif %}
                {%for error in field.errors%}
                    <p style="color:red;">{{error}}</p>
                {% endfor %}
                {% endfor %}
                <button type="Submit">Submit</button>
                                
            </form>
            
            <div style="width:95%; padding:20px; display: flex; flex-direction:column; background:whitesmoke;" id="ratings-div">
                <h3 style="font-weight:bold; margin:0px;">Reviews</h3>

            <div>
            
        </section> 
        
        <script>
        var progressBars = document.getElementById("ratings-div");
var alldata = [{% for data in feedbackData %}
    {
        "name": "{{ data.name }}",
        "text": "{{ data.text }}",
        "rating": (({{ data.rating }} * 20) / {{ data.rating }}) * {{ data.rating }}
    },
{% endfor %}];


alldata.forEach(function(data) {
    var nameSpan = document.createElement("span");
    nameSpan.innerHTML ="User : "+ data.name;
    nameSpan.style.fontSize="15px";
    nameSpan.style.background="white";
    progressBars.appendChild(nameSpan);


    var textSpan = document.createElement("span");
    textSpan.innerHTML = data.text;
    progressBars.appendChild(textSpan);

    var ratingDiv = document.createElement("div");
    ratingDiv.style.background = "whitesmoke";
    ratingDiv.style.border = "2px solid gray";
    ratingDiv.style.borderRadius = "4px";
    ratingDiv.style.width = "50%"; // Adjust width as needed
    ratingDiv.style.height = "20px"; // Adjust height as needed
    ratingDiv.style.display = "flex";
    ratingDiv.style.marginBottom = "20px";
    progressBars.appendChild(ratingDiv);

    var ratingSpan = document.createElement("span");
    ratingSpan.innerHTML = data.rating +'%';
    ratingSpan.style.background = "orange";
    ratingSpan.style.borderRadius = "2px";
    ratingSpan.style.color = "white";
    ratingSpan.style.display = "block"; // Make it block to fill the parent div
    ratingSpan.style.width = data.rating + '%';
    ratingSpan.style.height = "16px";
    ratingDiv.appendChild(ratingSpan);

});          
    </script>
         
{% endblock %}